.hidden {
  /*display: none;*/
}

#chords {
  float: left;
  padding: 1em;
}

#notes {
  float: left;
  padding: 1em;
}

.chord {
  font-size: xx-large;
  color: green;
}

.note {
  font-size: x-large;
  color: red;
}

.pressed {
  border: 1px solid black;
}