* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --danger: rgb(225, 0, 0);
  --bg-accent: #c9ddfa;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: var(--bg-accent);
  padding: 1rem;
}

.main-interface {
  flex-grow: 1;
  padding: 1rem;
}

.footer {
  background-color: var(--bg-accent);
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
