* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --danger: rgb(225, 0, 0);
  --bg-accent: #c9ddfa;
  --bg-main: white;
  --key-size: 5rem;
  --key-color: lightgray;
  --letter-color: #555555;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-main);
}

.header {
  background-color: var(--bg-accent);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-and-name {
  display: flex;
  gap: 0.5rem;
}

.logo {
  width: 38px;
}

.main-interface {
  flex-grow: 1;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: var(--bg-accent);
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.control-row {
  display: flex;
  justify-content: space-between;
}

.sound-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem;
  gap: 0.25rem;
}

.sound-control-label {
  font-weight: bold;
  font-size: x-large;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.keyboard-row {
  display: flex;
  gap: 0.25rem;
}

.key {
  border: 1px solid gray;
  border-radius: 0.25rem;
  height: var(--key-size);
  padding: 0.25rem 0.5rem;
  color: var(--letter-color);
  background-color: var(--key-color);
  display: flex;
  flex-direction: column;
}

.keyboard-command-label {
  font-size: x-large;
  color: black;
  margin: auto;
}

.letter-key {
  width: var(--key-size);
}

.space-bar {
  width: calc(var(--key-size) * 5);
}

.middle-row-spacer {
  width: calc(var(--key-size) / 2);
}

.bottom-row-spacer {
  width: calc(var(--key-size));
}

.space-bar-spacer {
  width: calc(var(--key-size) * 3);
}

.is-pressed {
  background-color: var(--bg-accent);
}

.instructions-toggle {
  padding: 0.25rem 1rem;
}

.instructions {
  margin: 0 auto;
  width: 50rem;
  height: 10rem;
  background-color: var(--bg-accent);
  padding: 1rem;
  overflow-y: scroll;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

p {
  margin-top: 0.5rem;
}

ul {
  margin-left: 1rem;
}

li {
  margin-top: 0.5rem;
}
